<h1>ADMIN Dashboard</h1>
<h3>Songs, Tracks, Lessons, Recordings, Library Links</h3>



<% if logged_in? && @student.username == "admin"%>
  <h4>Select Students to Delete:</h4>
  <form action="/admin/students" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">   

<% Student.all.order(:username).each do |student| unless student.username == "admin" %>
    <input type="checkbox" name="student[student_ids][]" id="student_<%=student.id%>" value="<%= student.id %>" 
    <%= 'unchecked' if Student.find(student.id) %>><%=student.username%></input>
<% end %>   
<% end %>

  <h4>Add Student: </h4>
    <label for "name">New Student Name:</label>
    <input type="text" name="student[new_student]" id="new_student" /><br><br>
    <input type="submit" value="Update Students" />
  </form>

  <h4>Select Songs to Delete:</h4>
<% Song.all.order(:name).each do |song| %>
  <form action="/admin/songs" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch"> 
    <input type="checkbox" name="song[song_ids][]" id="song_<%=song.id%>" value="<%= song.id %>"
    <%= 'unchecked' if Song.find(song.id) %>><%=song.name %></input>
<% end %>

  <h4>Add Song: </h4>
    <label for "name">New Song Name:</label>
    <input type="text" name="song[new_song]" id="new_song" /><br><br>
    <input type="submit" value="Update Songs" /> 
  </form>
<% end %>