<% if logged_in? && current_user.username == "admin" %>

<h4>Select Students to Delete:</h4>
<% @all_students.each do |student| unless student.username == "admin" %>  

  <form action="/students/<%= student.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="checkbox" name="student[student_ids][]" id="student_<%= student.id %>" value="<%= student.id %>" 
    <%= 'unchecked' if @all_students.find(student.id) %>><%= student.username %>
<% end %>   
<% end %><br>
    <input type="submit" value="Delete Students" />
  </form><br>

<a href="/students/new">Add New Student</a>

<h4>Select Songs to Delete:</h4>
<% @all_songs.all.order(:name).each do |song| %>
  <form action="/songs/<%= "#{song.id}"%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="checkbox" name="song[song_ids][]" id="song_<%=song.id%>" value="<%= song.id %>"
    <%= 'unchecked' if @all_songs.find(song.id) %>><%=song.name %></input>
<% end %><br>
    <input type="submit" value="Delete Songs" /> 
  </form>

<h4><a href="/songs/new">Add New Song</a></h4>
<% end %>