
<h4>Select Songs to Delete:</h4>
<% @all_songs.all.order(:name).each do |song| %>
  <form action="/songs/<%= "#{song.id}"%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="checkbox" name="song[song_ids][]" id="song_<%=song.id%>" value="<%= song.id %>"
    <%= 'unchecked' if @all_songs.find(song.id) %>><%=song.name %></input>
<% end %><br>
    <input type="submit" value="Delete Songs" /> 
  </form>