<form action="/songs/<%="#{@current_user.id}"%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch"> 
  <h4><%= @current_user.username.upcase %>, edit your Song list below: </h4> 
  
<% @all_songs.each do |song| %>
  <input type="checkbox" name="student[song_ids][]" id="song_<%=song.id%>" value="<%= song.id %>" 
  <%='checked' if @current_user.songs.include?(song)%>><%=song.name%></input>
<%end%><br></br>
<input type="submit" value="Update Song List" />
</form><br><br>

<h4>Add Song: </h4>
<form action="/songs/new" method="POST" />
  <label for "name">Song Name:</label>
  <input type="text" name="song[name]" id="name" /><br>
  <input type="submit" value="Add Song" />
</form>