<!DOCTYPE html>
<html>
<head>
  <title>Piano Students App</title>
</head>
  <body>
    <h1>Piano Students CMS App</h1>
<!-- main navbar -->
    <h4><a href="/">HOME  _  </a>
    <a href="/signup">SIGNUP  _  </a>
    <a href="/login">LOGIN  _  </a>
    <a href="/logout">LOGOUT  _  </a>
    <a href="/students"> STUDENTS  _  </a>
    <a href="/songs">SONGS  _  </a>
    <a href="/students/<%="#{@student.username}"%>"> MY SONGS  _  </a>
    <a href="/songs/:id/edit"> EDIT MY SONGS</a></h4>

<!-- current Username logged in, or locals message -->

    <% if @student %>
    <h4>Username:

    <%= "#{@student.username}" %>
    <br>ID: <%="#{@student.id}"%></h4>
    <% else %>
    <h4><%= "Please SIGNUP or LOGIN" %></h4>
    <% end %> 

    <% unless locals.empty? %>
    <h4><%= message %></h4>
    <% end %>

 <!-- relevant content -->
    <h4>CURRENT SONGS:</h4>
 
 
    <%  @songs.order(:name).each do |s| %>
    <h4><a href="/songs/<%="#{s.slug}"%>"><%= s.name %></a></h4>
    <% end %>

    
  </body>
</html>