<<<<<<< HEAD
<h4>SONG: <%= @song.name %></h4>
<h4>Students playing this song:</h4>
=======
<h3>Song: <%= @song.name %></h3>
<h4>Students playing <%= @song.name %>:</h4>
>>>>>>> 14175612567dbd181af3bbf9e201aa3f41921d0c
<% @song.students.each do |student| %>
  <h4><a href="/students/<%="#{student.id}"%>"><%= student.username %></a></h4>
<% end %>