<!DOCTYPE html>
<html>
<head>
  <title>Piano Students CMS App</title>
</head>
  <body>
  <h3>II III II III II III II III II III II III II III II III II III II III II III II III</h3>
  <h1>Piano Students CMS App</h1>


<!-- if NOT logged in: message, Login & Signup links -->
<% if !logged_in? %>
  <h4><a href="/">Home</a> - Welcome to the Piano Students CMS App</h4>
  <h4>Please <a href="/students/new">Sign Up</a> or <a href="/login">Log In</a></h


<!-- if logged in as Admin -->
<% elsif logged_in? && current_user.username == "admin" %>
  <h4><a href="/">Home  _  </a>
  <a href="/students"> Students  _  </a>
  <a href="/songs">Songs  _  </a>
  <a href="/students/<%= "#{current_user.id}" %>"> My Songs  _  </a>
  <a href="/songs/<%= "#{current_user.id}" %>/edit">Edit My Songs  _  </a>
  <a href="/students/<%= "#{current_user.id}" %>/edit">Edit My Info  _  </a>
  <a href="/logout">LogOut  _  </a>
  <a href="/admin">Admin Page</a>
  </h4>
  <h4> Current User: <%= current_user.username.upcase %> (ID: <%= current_user.id %>)</h4>


<!-- if logged in: main navbar for standard users -->
<% elsif logged_in? %>
  <h4><a href="/">Home  _  </a>
  <a href="/students"> Students  _  </a>
  <a href="/songs">Songs  _  </a>
  <a href="/students/<%= "#{current_user.id}" %>"> My Songs  _  </a>
  <a href="/songs/<%= "#{current_user.id}" %>/edit">Edit My Songs  _  </a>
  <a href="/students/<%= "#{current_user.id}" %>/edit">Edit My Info  _  </a>
  <a href="/logout">LogOut</a></h4>
  <h4> Current User: <%= current_user.username.upcase %> (ID: <%= current_user.id %>)</h4>
<% end %> 

<% unless locals.empty? %>
  <h4><%= message %></h4>
<% end %>


<%= yield %>
 

  </body>
</html>